<!doctype html>
<head>
  <title>Dropbox Folder Chooser</title>
  <script src="dropbox.js"></script>
  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="chooser.js"></script>
  <link rel="stylesheet" type="text/css" href="css/pop.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="headera">
    <h1>popkorn</h1>
  </div>
  <div id="pop">
    <div id = "list-header">
      <h2 id="current">/</h2>
      <h4 class="name">Name</h4>
      <h4 class="right">Kind</h4>
      <div id="bluefix">q </div>
    </div>
    <ul id="folders-list"></ul>
    <div id="list-footer">
      <img src="../images/add.png" id="add"> 
      <img src="../images/add_folder.png" id="add_folder"> 
      <img src="../images/done.png" id="done"> 
      <span id="indicator"><span id="count">0</span> selected</span>
      <div id="bluefix2">a</div>
    </div>
  </div>
</body>
</html>
