<!doctype html>
<head>
  <title>Dropbox Folder Chooser</title>
  <script src="dropbox.js"></script>
  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="chooser.js"></script>
  <link rel="stylesheet" type="text/css" href="css/pop.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="headera">
    <h1>popkorn</h1>
    <img src="images/popcorn.png" width="89px" height="62.5px" id="logo">
  </div>
  <div id="pop">
    <div id = "list-header">
      <h2 id="current">/</h2>
      <h4 class="name">Name</h4>
      <h4 class="right">Kind</h4>
    </div>
    <ul id="folders-list"></ul>
    <a href="#" class="button">Select current folder</a>
  </div>
</body>
</html>
