<!doctype html>
<head>
  <script src="dropbox.js"></script>
  <script src="jquery.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
  <script src="galleria/galleria-1.2.9.min.js"></script>
  <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
  <script src="pop.js"></script>
  <style>
    #galleria{height:400px; margin-bottom: 20px;}
  </style>
  <link rel="stylesheet" type="text/css" href="css/pop.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>Popcorn</h1>
  <img src="images/popcorn.png" width="15%" height="15%" id="logo">
  <div id="pop">
    <h2 id="current">/</h2>
    <h4 class="name">Name</h4>
    <h4 class="right">Kind</h4>
    <ul id="folders-list">
    
    </ul>
    <a href="#" class="button">Select current folder</a>
  </div>
  <div id="galleria"> </div>
  <br>
  <div id="publisher"></div>
</body>
</html>
