<html>
<head>
  <title>Popkorn</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- dropbox chooser -->
  <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="01asumvjw1hu65w"></script>
  <!-- button listener -->
  <script type="text/javascript">
  function goto_view_page(url) {
    timestamp = new Date().getTime()
    url = escape(url || $('#video_url_box').val())
    window.location.href = '/play?url=' + url + '&session_id=' + timestamp
  }
$(document).ready(function() {
  /*document.getElementById("db-chooser").addEventListener(
  "DbxChooserSuccess", function(e) {
    goto_view_page(e.files[0].link)
  }, false);*/
});
  </script>
</head>
<body>
<div id="header">
</div>
<div id="title">
<img id="hang" src="/images/hang.png"><br />
<div class="text">popkorn</div>
</div>
<div id="url">
  <form action="javascript: goto_view_page()">
    <!--<img id="sc_logo" src="/images/soundcloud_logo.png">-->
    <img id="yt_logo" src="/images/youtube_logo.png">
    <input id="video_url_box" placeholder="What do you want to watch?" type="text">
    <script type="text/javascript"/>
    function dropboxOnClick() {
      Dropbox.choose({
        linkType: 'direct',
        success: function(files) {
          goto_view_page(files[0].link);
        }
      });
    }
    </script>
    <img src="/images/dropbox_logo.png" id="db_button" onclick="javascript: dropboxOnClick()">
    <img src="/images/popcorn.png" id="go" onclick="javascript: goto_view_page()">
  </form>
</div>
</body>
</html>
