<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>

<!-- Pusher init -->
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log)
      window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;
</script>

<script type="text/javascript">
  var pusher = new Pusher('86baf974dd9fd950a9c8');
  var channel = pusher.subscribe('private-'+<%=session_id%>);
  channel.bind('pusher:subscription_error', function(data) {
    console.log("ERROR: " + data)
  });
  <% case type when "yt" %>
  var video_id = "<%= video_id %>";
  <% end %>
</script>

<% case type when "yt" %>
<script type="text/javascript" src="yt_sync.js"></script>
<% when "vidlink" %>
<!-- HTML5 video player -->
<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>
<% end %>
</head>

<body>
<% case type when "yt" %>
<!-- YouTube player -->
<div id="yt_player">
  You need Flash player 8+ and JavaScript enabled to view this video.
</div>
<% when "vidlink" %>
<!-- <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="01asumvjw1hu65w"></script> -->
<video id="vid_player" class="video-js vjs-default-skin" controls
  preload="auto" width="640" height="264" data-setup="{}">
  <source src="<%= video_id %>" type="video/mp4">
</video>
<!-- <input type="dropbox-chooser" name="selected-file" id="db-chooser" data-link-type="direct"/>
<script>
  document.getElementById("db-chooser").addEventListener("DbxChooserSuccess",
      function(e) {
          console.log(e.files[0].link);
          _V_("vid_player").src(e.files[0].link);
      }, false);
</script> -->
<script type="text/javascript" src="html5_vid_sync.js"></script>
<% end %>
</body>
</html>
