#pop ul {
  text-align: left;
  list-style-type: none;
  padding-left: 20px;
  padding-right 20px;
}
#pop ul li {
  height: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  padding-bottom: 3px;
  padding-top: 7px;
  padding-left: 10px;
}
#pop ul li:hover {
  background-color: #eee;
  cursor: pointer; cursor: hand;
}
#pop {
  border-radius: 9px;
  -moz-border-radius: 9px;
  padding: 15px;
  background: white;
  color: #222;
  font: 14px 'Helvetica Neue';
  border-style: solid;
  border-color: #aaa;
  border-width: 1px;
}
.right {
  text-align: left;
  float: right;
  position: relative;
  top: -32px;
  right: 105px;
  margin: 0px;
}
#publisher {
  margin-top: 20px;
}
#logo {
  float: right;
  position: relative;
  top: -80px;
  right: -25px;
  margin: 0px;

}
#current {
  text-align: left;
  margin-left: 30px;
}
body {
  padding: 25px;
  color: white;
  font-weight: 100;
  font: 14px 'Helvetica Neue';
  text-align: center;
}
.name {
  width: 40%;
}
h4 {
  text-align: left;
  margin-left: 23px;
}
h1 {
  font-size: 56px;
  margin: 10px;
}
.kind {
  text-align: left;
  width: 40%;
  float: right;
  position: relative;
  top: -15px;
  right: -25px;
}
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:normal;
  padding:6px 62px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
}.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}.button:active {
  position:relative;
  top:1px;
}

#spinner {
  display: none;
  width: 0px;
  margin: 0px auto;
}

.video {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 22px 8px;
}
.video:hover {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 22px 8px;
}
