#pop ul {
  margin-top: 165px;
  text-align: left;
  list-style-type: none;
  padding-left: 20px;
  padding-right 20px;
}
#pop ul li {
  height: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
  padding-bottom: 3px;
  padding-top: 7px;
  padding-left: 10px;
}
#pop li img {
  height: 15px;
  width: 13px;
  margin-right: 4px;
}
#pop ul li:hover {
  background-color: #eee;
  cursor: pointer; cursor: hand;
}
#pop {
  padding: 15px;
  background: white;
  color: #222;
  font: 13px 'Helvetica Neue';
  border-style: solid;
  border-color: #666;
  border-width: 1px;
  padding-top: 0px;
}
.right {
  text-align: left;
  float: right;
  position: relative;
  width: 40%;
  top: -18px;
  right: 26px;
  margin: 0px;
}
#publisher {
  margin-top: 20px;
}
#logo {
  float: right;
  position: relative;
  top: -80px;
  right: 140px;
  margin: 0px;

}
#headera {
  height: 150px;
  position: fixed;
  background-color: #0091f8;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  z-index: 5;
}

#link {
  height: 30px;
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  color: #333;
  display: none;
}
#bluefix {
  z-index: 6;
  position: fixed;
  top: 17px;
  right: 0;
  background-color: #0091f8;
  color: #0091f8;
  height: 150px;
  width: 43px;
  float: right;
}

#current {
  text-align: left;
  margin-left: 30px;
  margin-top: 6px;
  margin-bottom: 2px;
}
#list-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 43px;
  margin-right: 83px;
  position: fixed;
  left: 0px;
  top: 100px;
  width: 100%;
  color: white;
  background: #777;
  z-index:5;
}
body {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 0px;
  color: white;
  font-weight: 100;
  font: 14px 'Helvetica Neue';
  text-align: center;
}
.name {
  width: 60%;
}
h4 {
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: 500;
  text-align: left;
  margin-left: 29px;
}
h1 {
  font-family: Gotham;
  font-size: 66px;
  margin: 10px;
}
.kind {
  text-align: left;
  width: 40%;
  float: right;
  position: relative;
  top: -15px;
  right: -25px;
}
#footer {
  padding: 10px;
  position: relative;
  background: #999;
  height: 190px;
  width: 680px;
  margin-right: auto;
  margin-left: auto;
}
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:normal;
  padding:6px 62px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
}.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}.button:active {
  position:relative;
  top:1px;
}

#spinner {
  display: none;
  width: 0px;
  margin: 0px auto;
}

.video {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 22px 8px;
}
.video:hover {
  background-image: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 22px 8px;
}

