div#header {
  background: url(/images/header_bg.png) repeat-x;
  position: fixed;
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

div#title {
  font-family: 'Gotham';
  font-weight: 900;
  font-size: 100px;
  margin-top: 150px;
  color: white;
  opacity: 0.95;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-transform: rotate(-4deg);
  -webkit-transform-origin: top center;
  margin-bottom: 100px;
}

body {
  background: url(/images/bg.png) center;
  background-color: #0091f8;
}

div#url {
  vertical-align: bottom;
  text-align: center;
}

div#url input {
  font: 20px 'Helvetica Neue';
  font-weight: 600;
  color: #333;
  padding: 10px;
  outline: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border: 0.4px solid black;
  border-radius: 6px;
  height: 50px;
  width: 500px;
}

div#title div.text {
  margin-top: -140px;
}

img#hang {
  height: 400px;
}

img#go {
  margin-left: 20px;
  height: 50px;
  vertical-align: -20px;
  cursor: pointer;
  position: relative;
  left: -40px;
}

iframe#yt_player {
  margin: 0 auto 0 auto;
}

div#player_container {
  text-align: center;
}

img#sc_logo {
  vertical-align: -15px;
  margin-right: 14px;
  height: 45px;
} 

img#yt_logo {
  height: 40px;
  vertical-align: -13px;
  margin-right: 18px;
}

img#db_button {
  position: relative;
  left: -48px;
  height: 35px;
  vertical-align: -11px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

span#or {
  font: 30px Gotham;
  font-weight: 900;
  font-style: italic;
  opacity: 0.9;
  color: #0f6aaa;
}
